<section class="info_section">
    <div class="container">
      <div class="info_social">
        <div>
          <a href="#">
            <img src="../../../assets/images/fb.png" alt="fb">
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../../../assets/images/twitter.png" alt="twitter">
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../../../assets/images/linkedin.png" alt="linkedin">
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../../../assets/images/insta.png" alt="insta">
          </a>
        </div>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        </p>
      </div>
      <div>
        <p>
            &copy; 2019 All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
          </p>
      </div>
    </div>
</section>