<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href="index.html">
        <img src={{src}} alt="logo">
        <span>
          {{name}}
        </span>
      </a>
      <div class="collapse navbar-collapse">
        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href={{href}}>Home </a>
            </li>
            <li>
              <a class="nav-link" href={{href}}>About </a>
            </li>
            <li>
              <a class="nav-link" href={{href}}>Services </a>
            </li>
            <li>
              <a class="nav-link" href={{href}}>Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>