<section class=" section position-relative">
    <div class="bg-container"></div>
    <div class="div-container">
        <div class="detail-box">
            <h1>
                DiscoverING 
                SOMETHING 
                NEW BRAND
            </h1>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem
            </p>
            <div class="btn">
                <a href="#" class="link">
                    CONTACT US
                </a>
            </div>
        </div>
        <div class="img-box">
            <img src="../../../assets/images/p-2.jpg" alt="">
        </div>
    </div>
</section>